<footer class="bg-[#F7F7F7] pt-2 border-t">
  <div class="container">
    <div class="hidden lg:grid lg:grid-cols-5">
      <div>
        <ul class="text-gray-500 text-xs hover:[&>*]:underline [&>*]:my-2">
          <li class="font-bold text-black"><a href="#">Buy</a></li>
          <li><a href="#">Registration</a></li>
          <li><a href="#">eBay Money Back Guarantee</a></li>
          <li><a href="#">Bidding & buying help</a></li>
          <li><a href="#">Stores</a></li>
        </ul>
      </div>
      <div>
        <ul class="text-gray-500 text-xs hover:[&>*]:underline [&>*]:my-2">
          <li class="font-bold text-black"><a href="#">Sell</a></li>
          <li><a href="#">Start selling</a></li>
          <li><a href="#">Learn to sell</a></li>
          <li><a href="#">Affiliates</a></li>
        </ul>
        <ul class="text-gray-500 text-xs hover:[&>*]:underline [&>*]:my-2">
          <li class="font-bold text-black"><a href="#">Tools & apps</a></li>
          <li><a href="#">Developers</a></li>
          <li><a href="#">Security center</a></li>
          <li><a href="#">Site map</a></li>
        </ul>
      </div>
      <div>
        <ul class="text-gray-500 text-xs hover:[&>*]:underline [&>*]:my-2">
          <li class="font-bold text-black"><a href="#">Stay connected</a></li>
          <li><a href="#">eBay's</a></li>
          <li>
            <a href="#"
              ><i class="fa-brands fa-square-facebook fa-lg"></i> Facebook</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-brands fa-square-twitter fa-lg"></i> Twitter</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="text-gray-500 text-xs hover:[&>*]:underline [&>*]:my-2">
          <li class="font-bold text-black"><a href="#">About eBay</a></li>
          <li><a href="#">company info</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Investors</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Government relations</a></li>
          <li><a href="#">Advertise with us</a></li>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Verified Rights Owner (VeRO) Program</a></li>
        </ul>
      </div>
      <div>
        <ul class="text-gray-500 text-xs hover:[&>*]:underline [&>*]:my-2">
          <li class="font-bold text-black"><a href="#">Help & Contact</a></li>
          <li><a href="#">Seller information Center</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
        <ul class="text-gray-500 text-xs hover:[&>*]:underline [&>*]:my-2">
          <li class="font-bold text-black"><a href="#">Community</a></li>
          <li><a href="#">Announcements</a></li>
          <li><a href="#">Discussion boards</a></li>
          <li><a href="#">eBay Giving Works</a></li>
        </ul>
      </div>
    </div>
  </div>
  <app-auth-footer />
</footer>
