@if (cartObject) {
<section>
  <div class="container">
    <h1 class="text-[30px] font-bold text-[#191919] hidden lg:block">
      Shopping Cart
    </h1>
    <div class="grid grid-cols-1 lg:grid-cols-6 gap-4 mt-3 items-start">
      <div
        class="lg:order-1 lg:col-span-2 flex flex-col justify-center lg:bg-[#F7F7F7] rounded-2xl p-4"
      >
        <h1 class="text-[30px] font-bold text-[#191919] lg:hidden mb-3">
          Shopping Cart
        </h1>
        <div class="lg:order-1">
          <div
            class="justify-between items-center text-xl text-[#191919] hidden lg:flex"
          >
            <span>Total</span>
            <span>{{ cartObject.totalCartPrice | currency }}</span>
          </div>
          <button
            class="capitalize font-bold bg-[#3461E9] hover:bg-blue-700 rounded-full block w-full text-white py-3"
            [routerLink]="['/checkout', cartObject._id]"
          >
            buy it now
          </button>
          <p
            class="flex items-center gap-2 mt-3 text-xs text-[#191919] justify-center"
          >
            <span
              class="bg-[#3461E9] w-8 h-8 rounded-full flex justify-center items-center"
            >
              <i class="fa-solid fa-sack-dollar text-xl text-white"></i>
            </span>
            <span
              >Purchase protected by
              <a
                href="https://pages.ebay.com/ebay-money-back-guarantee/"
                target="_blank"
                class="text-black underline hover:text-[#3461E9] font-bold"
                >eBay Money Back Guarantee</a
              ></span
            >
          </p>
        </div>
        <div
          class="bordre-b mb-3 pb-3 hidden lg:flex justify-between items-center"
        >
          <span>Items({{ numberOfProducts }})</span>
          <button class="underline block hover:text-[#707070]" (click)="clearAllCart()">
            Remove all
          </button>
        </div>
        <div class="flex justify-between items-center lg:hidden">
          <span class="text-[14px] text-[#191919]">
            total({{ numberOfProducts }} items)
          </span>
          <span class="font-bold">{{
            cartObject.totalCartPrice | currency
          }}</span>
        </div>
        <button class="underline block hover:text-[#707070] lg:hidden" (click)="clearAllCart()">Remove all</button>
      </div>
      <div class="lg:col-span-4">
        @for (product of cartObject.products; track product._id) {
        <div class="border border-[#e5e5e5] p-4">
          <div class="flex items-center gap-3">
            <div class="rounded-full overflow-hidden w-14">
              <img [src]="product.product.brand.image" alt="" />
            </div>
            <div>
              <span class="underline text-[14px] text-[#191919]">{{
                product.product.brand.name
              }}</span>
              <span class="block text-[14px] text-[#707070]"
                >100% positive feedback</span
              >
            </div>
          </div>
          <div class="flex items-center justify-between mt-3">
            <div class="flex items-center gap-4">
              <div>
                <img
                  [src]="product.product.imageCover"
                  width="150px"
                  [alt]="product.product.title"
                />
              </div>
              <a
                class="text-[#191919] font-bold text-[14px] underline max-w-[300px]"
                [routerLink]="['/details', product.product.id]"
              >
                {{ product.product.title }}
              </a>
            </div>
            <div>
              <span>Qty {{ product.count }}</span>
              <span class="block text-[#707070] text-[14px]"
                >eBay International Shipping</span
              >
              <div class="flex items-center gap-3 justify-center mt-3">
                <button
                  class="text-lg"
                  (click)="cartQuantity(product.product.id, product.count - 1)"
                >
                  -
                </button>
                <span class="block px-3 border rounded">{{
                  product.count
                }}</span>
                <button
                  class="text-lg"
                  (click)="cartQuantity(product.product.id, product.count + 1)"
                >
                  +
                </button>
              </div>
            </div>
            <div class="text-xl text-[#191919] font-bold">
              USD {{ product.price | currency }}
            </div>
          </div>
          <div class="text-end">
            <button
              class="underline hover:text-[#707070]"
              (click)="removeCartItem(product.product._id)"
            >
              Remove
            </button>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
}
