@if(productInfo()){
  <section class="py-4">
    <div class="container">


<nav class="flex justify-center" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    @if (productInfo()?.category?.name) {
      <li class="inline-flex items-center">
        <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
          {{productInfo()?.category?.name}}
        </a>
      </li>
    }
    @if (productInfo()?.subcategory?.name) {
      <li>
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <a href="#" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">{{productInfo()?.subcategory?.name}}</a>
        </div>
      </li>
    }
    @if (productInfo()?.brand?.name) {
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">{{productInfo()?.brand?.name}}</span>
        </div>
      </li>
    }
    @if (productInfo()?.title) {
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">{{productInfo()?.title}}</span>
        </div>
      </li>
    }
  </ol>
</nav>

      <div class="lg:flex lg:justify-center lg:items-center gap-8 mt-6">
        <div class="lg:w-96">
          <owl-carousel-o [options]="DetailsOwlOptions">
            @for (image of productInfo()?.images; track $index) {
              <ng-template carouselSlide>
                <img [src]="image" class="block w-full" [alt]="productInfo()?.title">
              </ng-template>
            }
          </owl-carousel-o>
        </div>
        <div class="">
          <h2 class="text-[#191919] text-2xl font-bold">{{productInfo()?.description}}</h2>
          <p>Free 2 Day Delivery - Order Placed B4 1000 Hrs CST</p>
          <hr>
          <span class="text-[#191919] text-2xl font-bold">US &dollar;265.99</span>
          <span class="text-red-700 block">{{productInfo()?.sold}} Sold</span>
          <button class="capitalize font-bold bg-[#3461E9] hover:bg-blue-700 rounded-full block w-full text-white py-3" (click)="addToCart(productInfo()?.id!)">add to cart</button>
          <button class="capitalize  rounded-full block w-full text-[#3461E9] border border-[#3461E9] hover:bg-[#F5F5F5] py-3 mt-3" (click)="addToWishlist(productInfo()?.id!)">&hearts; add to wishlist</button>
        </div>
      </div>
    </div>
  </section>
}
