/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  overflow-x: hidden;
}
.my-pagination {
  text-align: center;
}

.my-pagination .ngx-pagination {
  margin-top: .9375rem;
}

